services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    # volumes:
    # - .:/usr/src/app
    #   - /usr/src/app/node_modules
    command: ["node", ".next/standalone/server.js"]
    # no -- --watchAll
